html {
    font-family: "Inter";
}
* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: rgb(43, 83, 135);
    padding: 16px;
    border-radius: 10px;
    gap: 5px;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: minmax(80px, auto) repeat(5, 60px);
    button {
        background-color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 8px;
    }
    button:hover {
        background-color: rgb(228, 228, 228);
    }
    .spanTwo {
        grid-column: span 2;
    }
    .output {
        grid-column: 1 / -1;
        height: 100px;
        border-radius: 5px;
        background-color: white;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        align-items: end;
        padding-right: 10px;
        #answerScreen {
            font-size: 1rem;
            font-weight: 600;
            color: rgb(122, 122, 122);
        }
        #currentInput {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    .color {
        background-color: #ffbd60;
    }
    .colorDl {
        background-color: rgba(255, 37, 37, 0.784);
        color: white;
    }
}
